body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}  
.jumbotron {
    background-color: #FF5A5F;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.logo-small {
    color: #FF5A5F; 
    font-size: 50px;
}
.logo {
    color: #FF5A5F; 
    font-size: 200px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #FF5A5F; 
}
.carousel-indicators li {
    border-color: #FF5A5F; 
}
.carousel-indicators li.active {
    background-color: #FF5A5F; 
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #FF5A5F; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #FF5A5F; 
    background-color: #fff !important;
    color: #FF5A5F; 
}
.panel-heading {
    color: #fff !important;
    background-color: #FF5A5F !important; 
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #FF5A5F; 
    color: #fff;
}
.navbar {
    margin-bottom: 0;
    background-color: #FF5A5F; 
    z-index: 9999; 
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #FF5A5F !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #FF5A5F; /*f4511e*/;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
}

/* https://developers.google.com/maps/documentation/javascript/examples/places-searchbox */
/* Always set the map height explicitly to define the size of the div element that contains the map. */
#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}
 /* end */

/* Background image styling */
.flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.splash {
    background-image:
    -webkit-linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2)), url("CITY.jpg");
    background-image:
    linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.0),
    rgba(0, 0, 0, 0.2)
    ),
    url("CITY.jpg");
    background-size: 100% auto;
      background-attachment: fixed;
}

.main-title {
  font-size: 6em;
  color: white;
  position: static;
  padding-left: 1em;
  padding-top: 3.5em;
  text-shadow: 2px;
  text-shadow: 1px 1px 10px #000000;
}

.secondSplash {
  background-image:
  -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("SANFRANCISCO.jpg");
  background-image:
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)
    ),
  url("SANFRANCISCO.jpg");
  font-family: 'Yantramanav', sans-serif;
  background-position: 47% 35%;
  display: block;
  background-size: 100% auto;
  background-attachment: fixed;
}

.second-title {
  font-size: 5em;
  color: white;
  position: static;
  padding-left: 1em;
  padding-top: 4.25em;
  padding-bottom: .25em;
  text-shadow: 1px 1px 10px #000000;
}

.thirdSplash {
  background-image:
  -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("AIRBNB.jpg");
  background-image:
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2)
    ),
  url("AIRBNB.jpg");
  font-family: 'Yantramanav', sans-serif;
  -webkit-background-position: 47% 35%;
  background-position: 47% 35%;
  display: block;
  background-size: 100% auto;
  background-attachment: fixed;
}

.third-title {
  font-size: 6em;
  color: white;
  position: static;
  padding-left: 1em;
  padding-top: 3.5em;
  text-shadow: 2px;
  text-shadow: 1px 1px 10px #000000;
}

.fourthSplash {
  background-image:
  -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("BRIDGE.jpg");
  background-image:
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2)
    ),
  url("BRIDGE.jpg");
  font-family: 'Yantramanav', sans-serif;
  -webkit-background-position: 47% 35%;
  background-position: 47% 35%;
  display: block;
  background-size: 100% auto;
  background-attachment: fixed;
}

.fourth-title {
  font-size: 6em;
  color: white;
  position: static;
  padding-left: 1em;
  padding-top: 3.5em;
  text-shadow: 2px;
  text-shadow: 1px 1px 10px #000000;
}
/* end */